.Wrapper {
    margin: 10px;  
}

.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: #333333;
}

#Brand {
    width: 90px;
    height: 50px;
    background-color: #ff5500;
    left: 70px;
    margin-left: 50px;
}
#cloud-icon {
    width: 80%;
    margin: 10%;
}

.nav-link {
    float: left;
    width: 7.5em;
    height: 100%;
    text-align: center;
    background-color: #333333;
}

.nav-link a {
    color: #cccccc;
    font-size: 14pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    padding-bottom: 100%;
}

.Search {
    width: 35%;
    height: 2em;
    margin: 0 auto;
    position: fixed;
}

.Login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    padding: 10px;
}

.btn {
    width: 500px;
    height: 40px;
    position: relative;
    border: 0px;
    border-style: ridge;
}

#Blue {
    background-color: #3578e5;
    color: white;
}

#White {
    background-color: white;
    color: black;
}

#Black {
    background-color: black;
    color: white;
}

#Orange {
    background-color: #ff5500;
    color: white;
}

.text {
    background-color: white;
    color: black;
    margin: 0px;
    width: 494px;
    height: 34px;
    text-align: center;
}
